.container{
    margin: 10% auto;
    width: 28%;
    height: 500px;
    background-color: aliceblue;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgb(129, 129, 129);
}

.form{
    font-family: Arial, sans-serif;
    text-align: center;
    position: absolute;
    top: 22%;
    left: 45%;
}

body{
    background-color: rgb(235, 235, 235);
}

input{
    border-radius: 6px;
    border-color: rgb(202, 202, 202);
    width: 100%;
    height: 30px;
    padding: 5px;
   
}

button{
    background-color:rgb(49, 131, 253);
    color: white;
    width: 60%;
    height: 40px;
    border-radius: 8px;
    border-style:solid;
    border-color: white;
    font-size: 15px;
}

button:hover {
    transform: scale(1.1);
    transition: all 0.5s;
  } 